
#fa{
display: flex;
flex-direction: column;
gap: 0;

    justify-content: center;
    align-items: center;
}
#i{
    
    color: aliceblue;
    font-size: 185px;
   
   margin: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#single{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#second{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: dodgerblue;
    
    font-size: 85px;
}
#hi{
   font-family: fantasy;  
}
img{
   
   width: 60px;
}#f{
    width: 150px;
    height: 150px;
    background-color: dodgerblue;
     display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 50%;  
    padding-bottom: 0px;

}
