#f{
    width: 100px;
    height: 150px;
    background-color: dodgerblue;
     display: flex;
    align-items: flex-end;
    justify-content: right; 
    padding: 0;
    padding-right: 60px;
    padding-bottom: 0px;
    border-radius: 50%;
    margin-left: 20px;
    
}
#i{
    margin: 0;
    color: aliceblue;
    font-size: 145px;
    text-align: center;
    padding: 0;
   
    
}
h3{
    color: dodgerblue;
    padding-top: 25px;
    font-size: 85px;
}

div{
    margin: 0;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#hi{
    margin: 0;
    height: 100%;
   font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center; 
}
img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
   width: 60px;
   height: 5dvh; 

}